.mainCont2 {
  width: 80%;
  float: left;
  .MuiOutlinedInput-notchedOutline {
    height: 35px;
    right: 5px !important;
    left: -10px !important;
    top: 9px !important;
  }
  .MuiDataGrid-root {
    max-width: 700px;
    border-radius: 0 !important;
  }
  .MuiDataGrid-columnHeaderTitle {
    font-size: 1rem;
  }
  .MuiList-root {
    border: 1px solid #dddddd !important;
  }
  .css-146q31f {
    float: right;
    width: 20%;
    padding: 168px 0 0 0;
  }
}

