.questionList-item {
  height: 376px;
  margin-top: 118px;
  border: 1px solid #dddddd;
}

.css-1k9ek97 {
  background-color: none !important;
}

.contents {
  margin: 0px auto !important;
}

.css-h4y409-MuiList-root {
  border: 0px solid #dddddd !important;
}
