.mainCont2 {
  float: left;
  .MuiOutlinedInput-notchedOutline {
    height: 35px;
    right: 5px !important;
    left: -10px !important;
    top: 9px !important;
  }
  .MuiDataGrid-root {
    max-width: 700px;
    border-radius: 0 !important;
  }
  .MuiDataGrid-columnHeaderTitle {
    font-size: 1rem;
  }
  .MuiList-root {
    border: 1px solid #dddddd !important;
  }
  .css-146q31f {
    float: right;
    width: 20%;
    padding: 168px 0 0 0;
  }
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  height: 35px;
  right: 5px !important;
  left: -10px !important;
  top: 9px !important;
}

.css-5wly58-MuiDataGrid-root {
  max-width: 700px;
  border-radius: 0 !important;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-size: 1rem;
}

.css-1k9ek97 {
  width: 180px !important;
}

.css-146q31f {
  float: right;
  width: 20%;
  padding: 168px 0 0 0;
}

.css-mhc70k-MuiGrid-root {
  margin-top: 0px !important;
  margin-left: 0px !important;
  flex-wrap: nowrap !important;
}

.css-oiblgr {
  height: auto !important;
}
