.questionList-item {
  width: 100%;
  max-width: 200px;
  margin-top: 132px;
  height: 475px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px #dddddd;
  .css-1k9ek97 {
    background-color: none !important;
  }

  .contents {
    margin: 0px auto !important;
  }

  .MuiList-root {
    max-width: 200px !important;
    max-height: 473px !important;
    height: 100%;
    border-radius: 10px !important;
  }

  .MuiListItemSecondaryAction-root {
    top: 22px !important;
  }

  .MuiButtonBase-root.MuiButton-root {
    width: 66px !important;
    height: 35px !important;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
