@import './common.scss';

// 메뉴토글리스트
#menuListBar {
	display: flex;
	justify-content: center;
	background-color: rgba(50, 64, 90, 0.9);
	@include desktop {
		top: -4px;
		position: relative;
	}

	button {
		font-size: 1.1rem;
		font-weight: 500;
		color: #fff;
		padding: 15px;
		border-radius: 0;
		border: 0;
		font-family: 'Noto Sans KR', Dotum, Arial, sans-serif;
		height: 100%;
	}
	.MuiButtonBase-root.Mui-selected {
		background-color: #ffffff;
		color: #000;
		font-weight: bold;
		:active {
			background-color: rgba(50, 64, 90, 0.9);
		}
	}
	.MuiTabs-root {
		min-height: 56.95px;
		.MuiTabs-flexContainer {
			height: 100%;
		}
		.Mui-selected {
			height: 100%;
		}
		svg {
			color: white;
			font-size: 20px;
		}
	}
	.MuiTabs-indicator {
		display: none;
	}
}


.MuiPagination-ul {
	margin: 10px auto !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline{
	border-color: #ffc23b !important;
}
.MuiFormLabel-root.MuiInputLabel-root.Mui-focused{
	color: #ffc23b !important;
}

.MuiButtonBase-root.MuiButton-root{
	width: 100px;
	height: 40px;
	float: right;
}

.button-label{
	height:40px !important;
	margin-left: 10px;
	float: left;
	cursor: pointer;
	.Mui-disabled{
		cursor: pointer !important;
	}
}
.MuiDataGrid-overlay{
	display: none !important;
}
.button-front{
	height: 40px;
	float: left;
	font-weight: lighter !important;
	padding-top: 5px;
}
.table-container{
	margin-top: 20px;
}
.table-title{
	height: 60px;
	background-color: #e1e1e1;
	border-bottom: 1px solid #a2a2a2;
	border-top: 1px solid #a2a2a2;
	display: flex;
	align-items: center;
	padding-left: 10px;
	font-size: 17px;
	color: #767676;
}

.table-content{
	height: 60px;
	border-bottom: 1px solid #a2a2a2;
	border-top: 1px solid #a2a2a2;
}
.table-top{
	border-bottom: none !important;
}


.table-select{
	width: 95%;
	display: flex !important;
	margin: 10px auto !important;
	.MuiInputBase-input{
		padding-bottom: 10px !important;
		padding-top: 10px !important
	}
}
.table-input-select{
	width: 95%;;
	display: flex !important;
	margin-top:5px !important;
	margin-left: 10px !important;
}

.MuiPaper-root.MuiDialog-paper{
	max-width: 1000px !important;
	width: 800px !important;
}
#nested-list-subheader{
	font-size: 20px;
	font-weight: bold;
	border-top: 2px solid #b3b3b3;
	border-bottom: 2px solid #b3b3b3;
}
.MuiPopper-root{
	.MuiAutocomplete-listbox {
		//background-color: white;
		.Mui-focused {
			background-color: rgba(255, 0, 0, 0.12) !important
		}
		.Mui-expanded
		{
			background-color: white !important;
		}
	}
}