.div_container {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 310mm;
  width: 100%;
  background-color: grey;
  overflow: auto;
  word-break: keep-all; //줄바꿈시 단어기준
  //break-after: page;  //페이지 초과시 다음 페이지(작업해야함)
}

.div_paper {
  width: 210mm; //A4 넓이
  min-height: 297mm;  //A4 높이
  max-height: 297mm;  //A4 최대높이
  margin-top: 40px; //화면표출 마진은 40px
  break-after: page;
  padding:10px 30px 50px 30px;
  @page {
    size: A4;
    margin: 0;
  }
  @media print {
      margin-top: 0; //다운로드시 마진은 0px
  }
  background-color: white;
  text-align: justify;
  word-spacing: 2px;
  .bigCont{
    padding: 10px 30px;
    column-count: 2;
    max-height: 280mm;
    height: 252mm;
    column-fill: auto;
    //column-gap: 30px;
    //column-rule: 1px solid black;
    //padding: 10px 50px 100px 50px;

    //나눠진 단 div
    .bigCont_sub{
      padding: 10px;
      width: 100%;
      //height: 100%;

      //문제 감싸는 박스
      .bigCont_questionBox{
        margin-bottom: 20px;
      }
      //문제타이틀
      .bigCont_questionTitle{
        font-size: 12.7px !important;
        line-height: 160%;
        .bigCont_pastYn{
          font-size: 7*0.5+7px !important;
          color: white;
          line-height: 160%;
          display: inline-block;
          padding: 3px 10px;
          border-radius: 5px;
          background-color: #4a4a4a;
          margin : 0 8px
        }
        .bigCont_from{
          font-size: 6.5px !important;
          line-height: 160%;
          color: #666666;
        }
      }
      .bigCont_questionTitle_normal{
        font-family: 'hancom', sans-serif !important;
        font-size: 12.7px !important;
        line-height: 160%;
        .bigCont_pastYn{
          font-family: 'KoPubDotum', sans-serif !important;
          font-size: 7*0.5+7px !important;
          color: white;
          line-height: 160%;
          display: inline-block;
          padding: 3px 10px;
          border-radius: 5px;
          background-color: #4a4a4a;
          margin : 0 8px
        }
        .bigCont_from{
          font-family: 'KoPubDotum', sans-serif !important;
          font-size: 9px !important;
          line-height: 160%;
          color: #666666;
        }
      }

      //문제지문
      .bigCont_questionContent{
        margin-top: 15px;
        font-weight: lighter;
        font-size: 8*0.5+8px !important;
        line-height: 155%;
      }
      .bigCont_questionContent_normal{
        margin-top: 15px;
        font-weight: lighter;
        font-size: 8*0.5+8px !important;
        line-height: 155%;
        p{
          font-family: 'Times New Roman', sans-serif !important;
        }
      }

      //문제선지
      .choose{
        margin-top: 15px;
        font-weight: lighter;
        font-size: 8*0.5+8px !important;
        line-height: 150%;
      }
      .choose_normal{
        margin-top: 15px;
        font-weight: lighter;
        font-size: 8*0.5+8px !important;
        line-height: 150%;
      }
      .choose_text{
        font-family: 'hancom', sans-serif !important;
      }
    }
  }
}

.big_first > .bigHeader {
  padding: 30px 40px 0 40px;
  .bigHeader_text{
    font-family: 'esamanru', sans-serif !important;
    font-size: 20*0.5+20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15mm;
  }
  img{
    width:100%;
  }
}

.big_second > .bigHeader {
  padding: 30px 40px 0 40px;
  .bigHeader_text{
    font-family: 'esamanru', sans-serif !important;
    font-size: 20*0.5+20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15mm;
  }
  img{
    width:100%;
  }
}

.examView{
  .questionList-item{
    position: fixed;
    right: 50px;
    bottom:150px;
    width: 20%;
    .MuiListItemSecondaryAction-root{
      display: contents !important;
    }
  }
  .examView_btn{
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    width: 100px;
    position:fixed;
    right:300px;
    bottom:100px;
  }
  .examView_crt{
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    width: 120px;
    position:fixed;
    right:300px;
    bottom:100px;
  }
}

.left-bottom{
  bottom:10px;
  left:10px;
  float: left;
}
.right-bottom{
  bottom:10px;
  float: right;
}
.choose{
  display: flex;
  flex-direction: column;
}
.pastYn{
  color: white;
  background: #4c4c4c;
  border-radius: 4px;
  padding: 0px 6px 0 4px;
}
.subBox{
  border-bottom: 0.3px solid black;
  border-top: 0.3px solid black;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: lighter;
  font-size: 8*0.5+8px !important;
  line-height: 155%;
}
.subBox_normal{
  border-bottom: 0.3px solid black;
  border-top: 0.3px solid black;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: lighter;
  font-size: 8*0.5+8px !important;
  line-height: 155%;
  p{
    font-family: 'Times New Roman', sans-serif !important;
  }
}
.bigBook_bottom{
  padding: 0 20px;
}

.questionType{
  //padding:3px 5px;
  background-color: #437fc1;
  color: white;
  width: 70px;
  //height: 30px;
  text-align: center;
}
.big_answer_head{
  font-family: 'esamanru', sans-serif !important;
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10mm;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 2px 2px #c7c7c7;
}