.MuiDataGrid-cell.MuiDataGrid-cell--textCenter.MuiDataGrid-withBorderColor {
    font-size: 17px !important;
}
.ProseMirror.toastui-editor-contents{
	font-size: 17px;
} 

.questionList-item{
    .css-1rki8sg-MuiListItem-root{
        padding-right: 0 !important;
    }
}